h1{
    color: #ffbe00;
    font-family: "youthTouch", lucida sans unicode,lucida grande,sans-serif;
    font-size: 600%;   
    text-align: center;
}

article {
	width: 500px;
}

.article {
	text-align: left;
}

.texte {
	height: 150px;
	width: 500px;
	margin: 0; padding: 0;
	text-align: left;
	
}

.autre .description {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}


.titre {
	font-size: 1.5em;
	font-family: "beeRidge", lucida sans unicode,lucida grande,sans-serif;
}

.img-article {
	width: 150px;
	height: 150px;
}

/* ARTICLE HOME */

.premier .img-article {
	width: 300px;
	height: 300px;
}

.premier .texte {
	height: auto;
	width: 600px;
}

.premier .article {
	min-height: 350px;
}

.premier {
	width: 100%;

}

.deuxieme .img-article {
	width: 200px;
	height: 200px;
}
