*,
*:before,
*:after {
    box-sizing: border-box;
}


@font-face {
	font-family: "youthTouch";
    src: url('../fonts/Youth-Touch.ttf');
}

@font-face {
	font-family: "beesBurts";
    src: url('../fonts/Bees-Burts.ttf');
}

@font-face {
	font-family: "beeRidge";
    src: url('../fonts/BeeRidgeDemo.ttf');
}

.navbar{
    font-family: "beeRidge", lucida sans unicode,lucida grande,sans-serif;    
}

.navbarTop{
    font-size: 1.4em;
    height: 65px;    
}

.navbarBottom{
    height: 65px;    
}

body {
    background-image: url('../images/background.jpg');
    background-color: transparent;
    background-repeat: repeat;

}

main {
    min-height: calc(100vh - 70px);
    padding-top: 65px;
    padding-bottom: 5px;
}
