.top-image{
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 70px);
    overflow: hidden;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1.docTitle{
    font-size: 800%;    
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    height: 420px;
    padding: 130px 0 0 0;
    width: 100%;
    text-align: center;
    font-family: "youthTouch", lucida sans unicode,lucida grande,sans-serif;
}

h2{
    color: #ffbe00;
    font-family: "beeRidge", lucida sans unicode,lucida grande,sans-serif;
}

#articleImage{
    min-height: 200px;
    min-width: 100px;
    max-height: 900px;
    max-width: 700px;
  }

.article {
    width: 70%;
    margin: auto;
}