.top-image{
    background-color: transparent;
    position: relative;
    z-index: 400;
    top: 0;
    display: block;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.banner {
    position: relative;
    z-index: 400;
    top: 0;
    display: block;
    height: 100%;
    width: 95%;
    min-height: 200px;
    min-width: 100px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

@font-face {
	font-family: "youthTouch";
    src: url('../fonts/Youth-Touch.ttf');
}

@font-face {
	font-family: "beesBurts";
    src: url('../fonts/Bees-Burts.ttf');
}

@font-face {
	font-family: "beeRidge";
    src: url('../fonts/BeeRidgeDemo.ttf');
}


h1.docTitle{
    font-size: 800%;    
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    height: 420px;
    padding: 130px 0 0 0;
    width: 100%;
    text-align: center;
    font-family: "youthTouch", lucida sans unicode,lucida grande,sans-serif;
}

h2{
    color: #ffbe00;
    font-family: "beeRidge", lucida sans unicode,lucida grande,sans-serif;
}

#articleImage{
    min-height: 200px;
    min-width: 100px;
    max-height: 900px;
    max-width: 700px;
  }