{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/pagesfooter.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    	
	<section>

    	<h1>Mentions légales</h1>
  		</br>
		</br>
		<h2>Données personnelles</h2>
		<p>
		</br>
			Apiculture peut avoir besoin de collecter des données personnelles. Par données personnelles Apiculture entend toutes les informations divulguées par les Utilisateurs - en tant que personnes physiques - quelle que soit leur nature telle que leur nom, prénom, e-mail, mot de passe permettant de les identifier directement ou non qu'elles soient fournies volontairement par ces derniers ou collectées dans le cadre de leur navigation sur le Service.</br>
			</br>
			Les informations personnelles collectées concernant l’Utilisateur sont destinées à Apiculture. De telles informations peuvent être copiées, utilisées et ou archivées et ne peuvent pas être divulguées à des tiers sauf demande exigée par la loi ou toute autorité judiciaire.</br>
			</br>
			En application de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, chaque utilisateur dispose des droits d'opposition (article 38 de la loi), d'accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) des données le concernant. Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite.</br>
			</br>
			Chaque utilisateur peut exercer ces droits en écrivant à : </br>
			</br>
			Apiculture - 1, rue du Chablis 93000 Bobigny.</br>
			</br>
		</p>
		<h2>Mineurs</h2>
		<p>
			</br>
			Dans l'hypothèse où l’Utilisateur est une personne physique mineure, il déclare et reconnaît avoir recueilli l'autorisation auprès de ses parents ou du (ou des) titulaire(s) de l'autorité parentale le concernant pour utiliser le Service. Le (ou les) titulaire(s) de l'autorité parentale a (ont) accepté d'être garant(s) du respect de l'ensemble des dispositions des Conditions d'Utilisation lors de son Utilisation du Service.</br>
			</br>
			Les parents (ou titulaires de l'autorité parentale) sont invités à surveiller l'Utilisation faite par leurs enfants du Service et à garder présent à l'esprit que le Service est destiné à toucher un large public et qu'en leur qualité de tuteur légal, il est de la responsabilité des parents de déterminer quel site Web est ou non approprié pour leur(s) enfant(s) et de surveiller l'utilisation qu'ils en font. Pour plus d’informations sur le filtrage, notamment en vue de la protection des mineurs, Apiculture recommande aux parents de se rapprocher de leur fournisseur d’accès à Internet.</br>
			</br>
		</p>
		<h2>Loi applicable - indépendance des clauses</h2>
		<p>
			</br>
			Les Conditions d’Utilisation seront soumises et interprétées conformément au Droit français. Tout litige non réglé de manière transactionnelle sera porté devant les tribunaux de Nanterre. Dans l'éventualité ou l'une quelconque des dispositions des Conditions d’Utilisation serait déclarée nulle ou sans effet, les dispositions restantes seront considérées comme applicables de plein droit.</br>
			</br>
			La non-application ou l'absence de revendication de l'application par Apiculture de l'une quelconque des dispositions des Conditions d’Utilisation ou de l'un quelconque droit ne saurait en aucun cas être interprété comme une renonciation par Apiculture à une telle disposition ou un tel droit, à moins que Apiculture n'en convienne autrement par écrit.
		</p>

	</section>

{% endblock %}