{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/pagesfooter.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Conditions d'utilisation</h1>

{% endblock %}