{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem non deleniti ad vitae temporibus cupiditate distinctio accusamus minima eligendi explicabo? Nesciunt animi consectetur non repellendus esse magni, totam saepe, ab vero numquam repellat modi quis aut iste. Explicabo, voluptate neque!</p>
    <p>Omnis, ut. Commodi, eveniet corrupti? Ipsum corporis nulla, reiciendis repellendus expedita, fuga vitae laboriosam pariatur ad unde harum repudiandae nostrum sunt quidem veniam, autem dolor voluptatem fugit delectus modi ex itaque cumque maiores suscipit? Et qui ratione culpa officia odit.</p>

{% endblock %}