{% extends 'documentation/show.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

<div class="body d-flex flex-row">
        <div class="top-image  justify-content-center">
            <h1 class="docTitle align-self-center">Histoire de l'apiculture</h1>
        </div>
        <div class="d-flex flex-row justify-content-center">
        <p></p>
        </div>
    </div>

{{ parent() }}

{% endblock %}