{% extends 'documentation/show.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

<div class="col-sm">
    <div class="banner row justify-content-center">
        <h1 class="align-self-center">Histoire de l'apiculture</h1>
    </div>
    <div class="row justify-content-center">
    <p></p>
    </div>
</div>

{{ parent() }}

{% endblock %}