{% extends 'documentation/show.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

<div class="col-sm">
        <div class="top-image row justify-content-center">
            <img class="banner" src="{{ asset('images/banner.jpg') }}" alt="banner" width="1092">
            <h1 class="docTitle align-self-center">Histoire de l'apiculture</h1>
        </div>
        <div class="row justify-content-center">
        <p></p>
        </div>
    </div>

{{ parent() }}

{% endblock %}