{% extends 'documentation/show.html.twig' %}

{% block title %}Produits de la ruche{% endblock %}

{% block body %}

    <div class="body d-flex flex-row">
        <div class="top-image  justify-content-center">
            <h1 class="docTitle align-self-center">Produits de la ruche</h1>
        </div>
        <div class="row justify-content-center">
        <p></p>
        </div>
    </div>
    
    {% for article in articles %}
        {{ parent() }}
    {% endfor %}
    
    {% block return_button %}{% endblock %}
     <div class="row justify-content-start">
        <a class="btn btn-warning" href="{{ path('home')}}">Retour</a>
    </div>
{% endblock %}