{% extends 'base.html.twig' %}

{% block body %}


<h1>Modification du mot de passe</h1>

{{ form_start(form)}}

{{ form_row(form.password, {'label': 'Nouveau mot de passe','attr':{'placeholder': 'Nouveau mot de passe !'}})}}
{{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe','attr':{'placeholder': 'Répétez votre mot de passe !'}})}}
<button type="submit" class="btn btn-success">Valider la modification</button>
{{ form_end(form)}}

{% endblock %}