{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row justify-content-md-center">
			<h1>Mon profil</h1>
		</div>
		<div class="row justify-content-md-center">
			{{ form_start(formEdit)}}
				{{ form_row(formEdit.username, {'label': 'Pseudo','attr':{'placeholder': 'Pseudo...'}})}}
				{{ form_row(formEdit.email, {'label': 'Adresse email','attr':{'placeholder': 'Adresse email ...'}})}}
				<button type="submit" class="btn btn-success, bg-warning">Enregistrer les modifications</button>
			{{ form_end(formEdit)}}
		</div>
	</div>
{% endblock %}