{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur le forum d'apiculture</h1>
    
    {% if app.user %}

            <a href="{{ path('create_topic') }}" >Créer un topic</a>
    {% else %}

        <p>Vous ne pouvez pas créer de topic si vous n'êtes pas connecté !</p>

    {% endif %}
    
    {% for topic in topics %}
            <artcicles>
                <ul>
                    <li>Identifiant : {{topic.title}}</li>
                    <a href="{{ path('show_topic', {'id': topic.id}) }}" >Conusulter le topic</a>
                </ul>
            </artcicles>
        {% endfor %}

    

    
{% endblock %}
