{% extends 'base.html.twig' %}

{% block body %}

<div class="col">
    <div class="row space-around">
        <div class="col">
            <artcicle>
                <h2>{{ topic.id}}</h2>
                </div>

            </artcicle>
        </div>
    </div>
{% endblock %}